// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(240, 20%, 97%);
  }

#viewProjectImage img{
  position: relative;;
  min-width: 100%;
  max-width: 100%;
  max-height: 50%;
  min-height: 50%;


}

.page-heading {
  font-size: 30px;
  color: #28283e;
  text-align: center;
  margin-bottom: 2%;
  padding-top: 2%;
}

.project-card {
  width: 46%;
  height: 500px;
  background-color: hsl(240, 20%, 98%);
  display: inline-block;
  border: 1px solid grey;
  margin: 1.8%;
  overflow: hidden;

}

h1.project-name {
  font-size: 22px;
  color: #28283e;
  margin: 4%;

}

.project-description {
  font-size: 14px;
  color: #28283e;
  line-height: 1.5;
  margin: 4%;

}

.project-link {
  text-decoration: none;
  background-color:#808080;
  border:1px solid #808080;
  display:inline-block;
  font-size:17px;
  font-weight: lighter;
  color: white;
  padding:1px 25px;
  margin: 4%;
}



// BELOW: Individual Product Page Styling

div.individualProductPageBody{
  box-sizing: border-box;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(240, 20%, 99%);

}


.backToAllProjectsButton {
  text-decoration: none;
  background-color:#808080;
  border:1px solid #808080;
  border-radius: 15px;
  font-size:17px;
  font-weight: lighter;
  color: white;
  padding:1px 25px;
  margin: 2%;
}
.backToAllProjectsButton:hover{
  background-color: #737373;
}
h1.project-name-show {
  margin: 2%;
  font-size: 30px;

}

img.individualProductPageImage {
  margin: 2%;
  max-height: 500px;
  max-width: 60%;
  border: 2px solid grey;
}

h4.project-description-title-show {
  margin: 2%;
  font-size: 25px;
}

p.project-description-show {
  margin: 2%;
  font-size: 18px;

}

.keyProjectInfo {
  float: right;
  padding-right: 10%;
  margin: 7%;
}

p.project-max-shares-show {
  font-size: 40px;
}

p.sharesAvailable {
  font-size: 40px;
}

p.daysToGo {
  font-size: 40px;

}

p.sharesSold {
  font-size: 20px;
  margin-left: 2%;
  margin-top: 6%;
}

#qwerty {
  margin-left: 2%;
  font-size: 0px;
  color: transparent
}

/* css for progress bar */

#myProgress {
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #d1d1e0;
    margin: 2%;

}
#myBar {
    position: absolute;
    width: 0.5%;
    height: 100%;
    background-color: #808080;

}



#user-box {
  width: 300px;
  height: 35px;
  border: 2px solid #d9d9d9;
  border-radius: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-field-project-new {
  margin-left: 150px;
}
#nested-fields-margin {
  margin-left: 150px;
}


/* CSS for project new page */

#project-new-form {
  width: 100%;
  height: 350px;
  margin: auto;

}

#share-new-form {
  width: 100%;
  margin-bottom: 20vh;

}

.pricePerShare {
  margin: 2%;
  margin-bottom:6%;
}

.purchaseForm {
  border: 2px solid grey;
  color: black;
  background-color: hsl(240, 20%, 97%);
  width: 60%;
  margin-left:20%;
  margin-right: 20%;
  padding: 9% 0;
}
.purchaseFormTitle {
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 7%;
}

.numSharesOnForm {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 18px

}

.purchaseButton {
  margin-left: 35%;
  margin-right: 40%;
  margin-top: 8%;

}

#project-submit-div {
  display: block;
  text-decoration: none;
  background-color:#808080;
  border:1px solid #808080;
  font-size:17px;
  font-weight: lighter;
  color: white;
  padding:5px 25px;
  margin-top: 40px;
  margin-bottom: 20vh;
  position: relative;
}

#project-show-radio {
  margin-left: 20%;
}
